@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&family=Ubuntu+Condensed&display=swap');
body {
    background-color: #000;
    color: #fff;
}

header {
    width: 100%;
    height: 120px;
    background-color: #000;
    border-bottom: solid 1px  #62cd4c;     
    color: #fff;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav#menu {
    display: flex;
    position: relative;
    justify-content: right;
    min-width: 220px; 
}

nav#menu ul {
    list-style: none ;
    text-transform: uppercase ;
    position: relative;
    display: flex;
    justify-content: flex-end;
    opacity: 80%;
    margin: 15px;
    padding: 0px;
    width: 715px;
    flex-wrap: wrap;
}

nav#menu li {
    display: inline-block;
    padding: 7px;
    margin: 0px;
}

nav#menu a {
    color: #fff;
    text-decoration: none ;
    transition: color 1s;
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
}
nav#menu a:hover {
    color: #004aad;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #141313;
    position: absolute;
    left: 0px;
    text-align: center;
}

footer a {
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
    color: #fff;
    opacity: 80%;
    text-decoration: none;
}

footer a.marca {
    color:#62cd4c;
    font-size: 17pt;
    padding: 5px;
}

footer a.marca2 {
    color: #004aad;
    font-size: 17pt;
    padding: 5px;
}

footer a#email {
    font-family: 'Bebas Neue', cursive;
    font-size: 13pt;
    color: #a6a6a6;
    opacity: 80%;
    text-decoration: none;
}

footer p {
    font-size: 11pt;
    color: #a6a6a6;
}
