@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: #000;
    color: #fff;
    padding-top: 115px;
}

header {
    width: 100%;
    background-color: #000;
    border-bottom: solid 1px  #62cd4c;     
    color: #fff;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caixa {
    width: 940px;
    height: 160px;
    position: relative;
    margin: 0 auto;
}

nav#menu {
    position: absolute;
    top: 50px;
    right: 0;
}

nav#menu ul {
    list-style: none ;
    text-transform: uppercase ;
    position: relative;
    display: flex;
    justify-content: flex-end;
    opacity: 80%;
    margin: 15px;
    padding: 0px;
    width: 715px;
    flex-wrap: wrap;
}

nav#menu li {
    display: inline-block;
    padding: 7px;
    margin: 0px;
}

nav#menu a {
    color: #fff;
    text-decoration: none ;
    transition: color 600ms;
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
}
nav#menu a:hover {
    color: #004aad;
}

.apresentacao {
    display: flex;
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
    padding-top: 80px;
}

.texto {
    display: inline-block;
    justify-content: center;
}

.texto h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    color: #fff;
    text-shadow: 3px 3px 5px rgb(46, 46, 46);
}

.texto a {
    text-decoration: none;
    color: #fff;
}

.texto p {
    border-radius: 15px;
    border: #62cd4c solid 1px;
    padding: 15px;
    width: 150px;
    text-align: center;
}

.apresentacao img {
    margin-right: 0px;
}

#sobre {
    display: flex;
    padding-top: 100px;
    width: 940px;
    margin: 0 auto;
}

#sobre p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#projetos {
    width: 100%;
    padding-top: 155px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#projetos h2 {
    font-size: 18pt;
}

.item {
    border-radius: 15px;
    background-color: #a6a6a6;
    display:flex ;
    width: 940px;
    margin: 20px auto;
    height: 400px;
}

.item:hover {
    background-color: #fff;
}

#habilidades {
    padding-top: 120px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
}

.habilidades {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-progresso {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: min-content;
}

.flex-progresso img {
    width: 150px;
}

.flex-progresso progress {
    width: 155px;
}

#footer {
    width: 100%;
    height: 160px;
    background-color: #141313;
    position: absolute;
    left: 0px;
    text-align: center;
    border-top: #004aad solid 1px;
}

#footer a {
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
    color: #fff;
    opacity: 80%;
    text-decoration: none;
}

#footer a.marca {
    color:#62cd4c;
    font-size: 17pt;
    padding: 5px;
}

#footer a.marca2 {
    color: #004aad;
    font-size: 17pt;
    padding: 5px;
}

#footer a#email {
    font-family: 'Bebas Neue', cursive;
    font-size: 13pt;
    color: #a6a6a6;
    opacity: 80%;
    text-decoration: none;
}

#footer p {
    font-size: 11pt;
    color: #a6a6a6;
}

@media screen and (max-width: 480px) {
    .caixa, .apresentacao, .item, .habilidades {
        width: auto;
    }

    #sobre, #footer, #projetos {
        width: auto;
    }

    header {
        height: 200px;
    }

    h1 {
        text-align: center;
        margin: 0px auto;
    }

    nav#menu {
        justify-content: center;
        display: flex;
        position: fixed;
        margin: 85px auto;
        width: 370px;
    }

    nav#menu ul {
        width: auto;
    }

    .apresentacao {
        flex-direction: column;
    }

    .apresentacao img {
        width: 80%;
        margin: 30px auto;
    }

    #sobre {
        padding-top: 0px;
    }

    #projetos {
        padding-top: 170px;
    }

    h3 {
        padding-top: 190px;
    }

    .flex-progresso {
        margin: 12px;
    }
}